{% if foros | length > 0 %}
<div class="col-md-6">
    <!-- Widget -->
    <div class="widget">
        <div style="background-color: grey; color: white; text-align: center;font-size: 20px; padding: 10px;">    
            Foros recientes    
        </div>
        <div class="widget-content">
            <!-- Widget content -->
            <div class="padd">
                {% include 'FrontendBundle:Foro:lista.html.twig' with {'foros': foros } %}
            </div>
        </div>  
    </div> 
</div>
{% endif %}