//fuentes
@font-face {
	font-family: 'Conv_amplitude-medium';
	src: url('../fonts/hdt/amplitude-medium-1361822688.eot');
	src: local('☺'), url('../fonts/hdt/amplitude-medium-1361822688.woff') format('woff'), url('../fonts/hdt/amplitude-medium-1361822688.ttf') format('truetype'), url('../fonts/hdt/amplitude-medium-1361822688.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Amplitude-Regular';
	src: url('../fonts/hdt/Amplitude-Regular.eot');
	src: local('☺'), url('../fonts/hdt/Amplitude-Regular.woff') format('woff'), url('../fonts/hdt/Amplitude-Regular.ttf') format('truetype'), url('../fonts/hdt/Amplitude-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FRABK';
	src: url('../fonts/hdt/FRABK.eot');
	src: local('☺'), url('../fonts/hdt/FRABK.woff') format('woff'), url('../fonts/hdt/FRABK.ttf') format('truetype'), url('../fonts/hdt/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FRAMDCN';
	src: url('../fonts/hdt/FRAMDCN.eot');
	src: local('☺'), url('../fonts/hdt/FRAMDCN.woff') format('woff'), url('../fonts/hdt/FRAMDCN.ttf') format('truetype'), url('../fonts/hdt/FRAMDCN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Georgia_0';
	src: url('../fonts/hdt/Georgia_0.eot');
	src: local('☺'), url('../fonts/hdt/Georgia_0.woff') format('woff'), url('../fonts/hdt/Georgia_0.ttf') format('truetype'), url('../fonts/hdt/Georgia_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
