@import 'nib'


box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')


ul.lista
	margin 0
	padding 0
	& li.item
		list-style none
		& .item-titulo
			font-weight bold
			font-size 14px
			text-transform capitalize
		& .item-descripcion
			font-size 14px 
			font-style italic
			text-transform lowercase
			&:first-letter
				text-transform uppercase
		
.item-actividad
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-actividad-fecha
	& .item-actividad-contenido
		display inline-block
		vertical-align top
	& .item-actividad-fecha
		width 50px
		border 1px solid silver 
		margin-right 5px
		& span
			display block
			text-align center
			padding 3px 5px
		& .fecha-diasemana
			background red
			color white
			font-size 20px
			font-weight bold
		& .fecha-dia
		& .fecha-mes
			font-size 20px
			font-weight normal
	& .item-actividad-duracion
		color silver
		font-style italic
		font-weight 600

.item-aviso
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-aviso-fecha
		color silver
		font-style italic
		font-weight 600
		
.item-documento
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-documento-archivo
	& .item-documento-contenido
		display inline-block
		vertical-align top
	& .item-documento-archivo 
		width 50px
		margin-right 10px
		& img 
		& a
			display block
	& .icono-archivo
		max-width 50px
