@import 'nib'


box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')


ul.lista
	margin 0
	padding 0
	& li.item
		list-style none
		& .item-titulo
			font-weight bold
			font-size 14px
			text-transform capitalize
		& .item-descripcion
			font-size 14px 
			font-style italic
			text-transform lowercase
			&:first-letter
				text-transform uppercase
		
.item-actividad
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-actividad-fecha
	& .item-actividad-contenido
		display inline-block
		vertical-align top
	& .item-actividad-fecha
		width 50px
		border 1px solid silver 
		margin-right 5px
		& span
			display block
			text-align center
			padding 3px 5px
		& .fecha-diasemana
			background red
			color white
			font-size 20px
			font-weight bold
		& .fecha-dia
		& .fecha-mes
			font-size 20px
			font-weight normal
	& .item-actividad-duracion
		color silver
		font-style italic
		font-weight 600

.item-aviso
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-aviso-fecha
		color silver
		font-style italic
		font-weight 600
	&.item-aviso-notificacion
		background #EB5A94 
		color white
		& .item-aviso-fecha
			color black
		
.item-documento
	width 100%
	border-bottom 1px solid silver
	padding 5px
	& .item-documento-archivo
	& .item-documento-contenido
		display inline-block
		vertical-align top
	& .item-documento-archivo 
		width 50px
		margin-right 10px
		& img 
		& a
			display block
	& .icono-archivo
		max-width 50px

.monto-cargo-usuario
	background orange
	color white
	font-size 24px
	line-height 24px
	font-weight bold
	padding 16px
	margin 16px
	border-radius 15px

.navegador-fechas
	background gray
	color white
	font-size 20px
	display inline
	position absolute
	top 15px
	right 10px
	border-radius 5px
	& span 
		display inline-block
		vertical-align top
		text-align center
	& .navegador-fechas-control
		padding 5px
	& .navegador-fechas-mes
		width 150px
		padding 5px

.comentarios-formulario
	border-bottom 1px solid silver
	margin-top 0px
	padding-bottom 16px
	& h2.titulo
		background color_gris_claro
		border-bottom 3px solid color_azul
		color black
		font-size 20.83px
		height 35px
		line-height 35px
		margin 5px 0px
		padding 0px 10p
		text-transform uppercase
		box-sizing border-box
		font-weight normal
		margin-bottom 10px
	& label
		margin-right .5em
		display block
	& .controles-izquierdos
	& .controles-derechos
		display inline-block
		vertical-align top
		width 49%
		& input 
		& textarea
			padding 2px 5px
			width 90%
			border 1px solid silver
		& textarea
			height 120px
		& input
			margin-bottom 10px
			height 25px
	& input[type="submit"]
	& .boton
		border-radius 20px
		background color_azul
		color white
		width 150px
		height 30px
		border none
	
.comentario-publicacion
	width 100%
	&.nivel-1
		padding-left 5%
		width 95%
	&.nivel-2
		padding-left 10%
		width 90%
	&.nivel-3
		padding-left 15%
		width 85%
	&.nivel-4
		padding-left 20%
		width 80%
	& > .contenido
		padding-left 16px
		& p
			margin-bottom 5px
			margin-top 5px
		& .fecha
			color color_gris
			font-size 12px
			font-style italic
		& .publicado-por
			display block
			font-size 14px
			color black
			& .username
				font-style normal
				font-weight bold
				text-transform capitalize
		& .contenido	
			font-size 14px
			font-style italic
			padding-left 0
	& figure
	& .contenido.con-imagen
		display inline-block
		vertical-align top
	& figure
		margin 0
	& .controles
		text-align right
		margin-right 16px
		& .boton-responder
			height 20px
			line-height 10px
	& .formulario-comentario
		border-top 1px solid silver
		margin-top 10px
		position relative
		padding-top 20px
		border-bottom 1px solid silver
		margin-bottom 20px
		& .closeForm.boton
			height 20px
			line-height 20px
			display block
			width 20px
			text-align center
			position absolute
			right 16px
			top 10px
			cursor pointer

.foro-completo
	padding 10px
	& h2.titulo
		font-style bold
	& span.datetime
		color silver
		font-size 1em

@media (max-width: 480px)
	footer.footer
		display none


