.ico_edicioespdf 
.ico_paginador_der 
.ico_paginador_izq 
.ico_edicionespdf_flechas
.ico_edicionespdf_flecha_derecha
.ico_edicionespdf_flecha_izquierda
.ico_buscar 
.ico_minutoaminuto-minmuto 
.ico_carrusel_inicio_izq 
.ico_carrusel_inicio_der 
.ico_lomasvistoen 
.ico_nav 
.ico_separadormenu 
.ico_socialmedia 
.ico_twitter
.ico_facebook
.ico_youtube
.ico_flickr  
.ico_mas
  display inline-block
  background-image url('../images/spritebox-sprite.png')
  background-repeat no-repeat


.ico_edicioespdf 
  background-position -0px -0px
  height 65px
  width 299px


.ico_paginador_der 
  background-position -0px -65px
  height 65px
  width 66px


.ico_paginador_izq 
  background-position -66px -65px
  height 65px
  width 66px


.ico_edicionespdf_flecha_izquierda 
  background-position -132px -65px
  height 20px
  width 12px

.ico_edicionespdf_flecha_derecha
  background-position -132px -85px
  height 20px
  width 12px  


.ico_buscar 
  background-position -184px -131px
  height 30px
  width 30px


.ico_minutoaminuto-minmuto 
  background-position -144px -65px
  height 27px
  width 59px


.ico_carrusel_inicio_izq 
  background-position -203px -65px
  height 27px
  width 16px


.ico_carrusel_inicio_der 
  background-position -219px -65px
  height 27px
  width 16px


.ico_lomasvistoen 
  background-position -0px -164px
  height 25px
  width 177px


.ico_nav 
  background-position -235px -65px
  height 24px
  width 24px


.ico_separadormenu 
  background-position -259px -65px
  height 24px
  width 1px


.ico_socialmedia 
  background-position -132px -106px
  height 21px
  width 103px

.ico_twitter
  background-position -132px -106px
  height 21px
  width 21px
  
.ico_facebook
  background-position -160px -106px
  height 21px
  width 21px
  
.ico_youtube
  background-position -186px -106px
  height 21px
  width 21px
  
.ico_flickr
  background-position -214px -106px
  height 21px
  width 21px      

.ico_mas 
  background-position -260px -65px
  height 13px
  width 13px


